################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Test_Task_1_Tests/obj/Debug/net7.0/Test_Task_1_Tests.csproj.AssemblyReference.cache
/Test_Task_1_Tests/bin/Debug/net7.0/nunit_random_seed.tmp
/Test_Task_1_Tests/bin/Debug/net7.0/TestTask1.dll
/Test_Task_1_Tests/bin/Debug/net7.0/TestTask1Tests.dll
/Test_Task_1_Tests/bin/Debug/net7.0/TestTask1Tests.pdb
/Test_Task_1_Tests/bin/Debug/net7.0/TestTask1.pdb
/Test_Task_1_Tests/obj/Debug/net7.0/ref/TestTask1Tests.dll
/Test_Task_1_Tests/obj/Debug/net7.0/refint/TestTask1Tests.dll
/Test_Task_1_Tests/obj/Debug/net7.0/TestTask1Tests.csproj.AssemblyReference.cache
/Test_Task_1_Tests/obj/Debug/net7.0/TestTask1Tests.csproj.CoreCompileInputs.cache
/Test_Task_1_Tests/obj/Debug/net7.0/TestTask1Tests.dll
/Test_Task_1_Tests/obj/Debug/net7.0/TestTask1Tests.pdb
